aiomysql==0.0.22
alembic==1.7.5
anyio==3.5.0
appnope==0.1.2
arrow==1.2.1
asgi-correlation-id==1.1.2
asgiref==3.4.1
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
binaryornot==0.4.4
black==22.1.0
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cookiecutter==1.7.3
coverage==6.3.1
decorator==5.1.1
distlib==0.3.4
dnspython==2.2.0
email-validator==1.1.3
executing==0.8.2
fastapi==0.72.0
fastapi-events==0.2.2
filelock==3.4.2
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httptools==0.3.0
identify==2.4.8
idna==3.3
iniconfig==1.1.1
ipdb==0.13.9
ipython==8.0.1
jedi==0.18.1
Jinja2==3.0.3
jinja2-time==0.2.0
loguru==0.6.0
Mako==1.1.6
manage-fastapi==1.1.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mypy-extensions==0.4.3
mysqlclient==2.1.0
nodeenv==1.6.0
orjson==3.6.7
packaging==21.3
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.1
pluggy==1.0.0
poyo==0.5.0
pre-commit==2.17.0
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyclean==2.0.0
pydantic==1.9.0
Pygments==2.11.2
PyMySQL==0.9.3
pyparsing==3.0.7
pytest==7.0.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-slugify==5.0.2
PyYAML==6.0
questionary==1.10.0
razorpay==1.2.0
requests==2.27.1
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
sqlalchemy2-stubs==0.0.2a19
sqlmodel==0.0.6
stack-data==0.1.4
starlette==0.17.1
term2048==0.2.7
text-unidecode==1.3
toml==0.10.2
tomli==2.0.0
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.0.1
ujson==5.1.0
ulid==1.1
urllib3==1.26.8
uvicorn==0.17.0
uvloop==0.16.0
virtualenv==20.13.1
watchgod==0.7
wcwidth==0.2.5
websockets==10.1
